* {
    margin: 0;
    padding: 0;
}


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.color-btn {
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    cursor: pointer;

}

.color-code {
    position: absolute;
    top:0;
    right:0;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size:32px;

}